<h1>{{ post.title }}</h1>

<div>{{ post.content|linebreaks }}</div>

<h3>comments</h3>

<div>
	{% for comment in post.comment_set.all %}
	<div>{{ comment.author }}<p>{{comment.content|linebreaks}}</div>
	{% endfor %}
</div>

<form class="form" method="post">{% csrf_token %}
    <div class="form-group">
        {{ comment_form.author.errors }}
        <label for="{{ comment_form.author.id_for_label }}">Author</label>
        {{ comment_form.author }}
    </div>
    <div class="form-group">
        {{ comment_form.content.errors }}
        <label for="{{ comment_form.content.id_for_label }}">Comment</label>
        {{ comment_form.content }}
    </div>
    <div class="form-group">
      <input type="submit"/>
    </div>
</form>
